<h1>All Sentences</h1>


<% @tagged_sentences.each do |s| %>
	<div class="sentence">
	<% s.each do |part| %>
		<% if part[:tagged] %>
			<span class="entity"><%= part[:text] %> <strong><%= part[:type] %></strong></span>
		<% else %>
			<span><%= part[:text] %></span>
		<% end %>
	<% end %>
	</div>
	<hr />
<% end %>

