<h1>All Sentences</h1>


<% @tagged_sentences.each do |s| %>
	<div class="sentence">
	<% s.each do |part| %>
		<% if part[:tagged] %>
			<%= render_tagged_text(part[:text], part[:type]) %>
		<% else %>
			<span><%= part[:text] %></span>
		<% end %>
	<% end %>
	</div>
	<hr />
<% end %>

